.header {
  display: flex;
  width: 100%;
  height: 10vh;
  background-color: #ffa600;
  justify-content: flex-start;
  flex-wrap: wrap;
  // display: flex;
  font-size: 14px;
  align-items: center;
  // padding-left: 10%;
}
.header-btn {
  height: 45px;
  font-weight: bold;
  width: 100px;
  margin-left: 25px;
  padding: 5px;
  border-radius: 8px;
  background-color: rgba(36, 246, 36, 0.712);
  border: none;
  &:hover {
    cursor: pointer;
  }
}
