.item {
  &-wrapper {
    // margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.item-img {
  > img {
    width: 300px;
    height: auto;
  }
}
