@import "../abstracts/mixins";
@import "../abstracts/_variables";

.defaultStyle {
  cursor: pointer;
  flex: 1;
  height: 100%;
  background: transparent;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.32px;
}

.segment {
  border-radius: 8px;
  background-color: $black-20;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &-button {
    @extend .defaultStyle;
    &-text {
      position: relative;
      z-index: 1;
    }
    &-default {
      padding: 12px 26px;
      border: none;
    }
    &-small {
      @include segment-size(18px, 8px, 14px, 1.71, -0.28px);
    }
    &-tiny {
      @include segment-size(16px, 4px, 12px, 2, -0.24px);
    }
  }
  &-active {
    position: absolute;
    background-color: $white;
    height: calc(100% - 4px);
    margin: 2px 3px;
    border-radius: 8px;
    transition: all 0.5s ease;
  }
}

.segment-fluid {
  @extend .segment;
  width: 270px;
  &-button {
    @extend .segment-button;
    padding-left: 0;
    padding-right: 0;
    flex: 1;
    height: 48px;
    @extend .defaultStyle;
    @include segment-size("", "", 16px, 1.5, -0.32px, 135px);
    &-default {
      padding: 12px 26px;
      border: none;
      height: 48px;
    }
    &-small,
    &-tiny {
      flex: 1;
      cursor: pointer;
    }

    &-small {
      @include segment-size(0, 8px, 14px, 1.71, -0.28px, 104px);
    }

    &-tiny {
      @include segment-size(0, 4px, 12px, 2, -0.24px, 96.5px);
    }
  }
}
