@import "../abstracts/variables";
.solution-content-top {
  display: flex;
  width: 1440px;
  height: 600px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.08);
  &-left {
    width: 720px;
    height: 600px;
  }
  &-right {
    width: 720px;
    height: 600px;
    &-greeting {
      width: 153px;
      height: 24px;
      margin: 72px 108px 8px 80px;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: -0.32px;
      color: $black-90;
    }
    &-question {
      width: 484px;
      height: 116px;
      margin: 8px 30px 24px 80px;
      font-size: 48px;
      font-weight: 600;
      line-height: 1.2;
      letter-spacing: 0.3px;
      color: $black-100;
    }
    &-btn-container {
      display: flex;
      justify-content: flex-start;
      margin: 24px 16px 83px 80px;
    }
    &-req-label {
      height: 24px;
      margin: 0 8px 8px 80px;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: -0.32px;
      color: $black-90;
      > span {
        font-size: 14px;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $orange;
        cursor: pointer;
      }
    }
    &-req-card {
      display: flex;
      flex-direction: column;
      width: 514px;
      height: 130px;
      margin: 8px 0 0 80px;
      padding: 18px 26px;
      border-radius: 8px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
      border: solid 1px $black-30;
      background-color: $white;
      &-top {
        display: flex;
        > img {
          width: 36px;
          height: 36px;
        }
      }
      &-ques {
        display: flex;
        flex-direction: column;
        margin: 0 16px;
        line-height: 1.5;
        > div:nth-child(1) {
          font-size: 14px;
          font-weight: 600;
          letter-spacing: -0.28px;
          color: $black-100;
        }
        > div:nth-child(2) {
          font-size: 12px;
          letter-spacing: -0.24px;
          color: $black-90;
          > span {
            font-weight: 600;
          }
        }
      }
      &-icon {
        border-radius: 50%;
        width: 32px;
        height: 32px;
        margin: 4px 0 19px 60px;
        padding: 10px;
        background-color: $black-10;
        cursor: pointer;
      }
      &-bottom {
        margin-left: 54px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        > ul:nth-child(1),
        ul:nth-child(2) {
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          > li {
            width: 90px;
            height: 17px;
            font-size: 11px;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: -0.22px;
            color: $black-100;
          }
          > li:nth-child(1) {
            width: 130px;
          }
        }
        > ul:nth-child(2) {
          > li {
            color: $black-90;
            font-weight: normal;
          }
        }
      }
    }
  }
}
