@import "../abstracts/variables";
.table-wrapper {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  table {
    border-collapse: collapse;
    border-spacing: 0;
    td:nth-child(1),
    th:nth-child(1) {
      z-index: 5;
      position: sticky;
      background-color: white !important;
      width: 53px;
      min-width: 53px;
      max-width: 53px;
      left: 0px;
    }
    td:nth-child(2),
    th:nth-child(2) {
      z-index: 5;
      position: sticky;
      background-color: white !important;
      width: 150px;
      min-width: 150px;
      max-width: 150px;
      left: 53px;
    }
  }

  .table td,
  .table th {
    border-style: none none solid none;
    border-color: $black-20;
    border-width: 2px;
    padding-left: 25px;
    margin: 10px;
  }
  .isPaused {
    width: 38px;
    height: 20px;
    border-radius: 3px;
    &-active {
      background-color: #45b796;
    }
    &-passive {
      background-color: #fa3f3f;
    }
  }
}
.pagination_wrapper {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &-left {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.28px;
    width: 100%;
  }
}
