@mixin btn-color(
  $bgColor,
  $bgHoverColor,
  $bgFocusColor,
  $bgDisabledColor,
  $textColor,
  $textHoverColor,
  $textFocusColor,
  $textDisabledColor
) {
  cursor: pointer;
  background-color: $bgColor;
  color: $textColor;
  &:hover {
    background-color: $bgHoverColor;
    color: $textHoverColor;
  }
  &:active {
    background-color: $bgFocusColor;
    color: $textFocusColor;
  }
  &:disabled {
    background-color: $bgDisabledColor;
  }
}

@mixin btn-size($btnWidth, $btnHeight, $fontSize, $lineHeight, $letterSpacing) {
  width: $btnWidth;
  height: $btnHeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

@mixin segment-size(
  $paddingRightLeft,
  $paddingTopBottom,
  $fontsize,
  $line-height,
  $letter-spacing,
  $width: null
) {
  padding: $paddingTopBottom $paddingRightLeft;
  font-size: $fontsize;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  border-radius: $size-xs;
  width: $width;
  border: none;
  cursor: pointer;
}

@mixin toast-type($bgColor, $borderColor) {
  background-color: $bgColor;
  border-color: $borderColor;
}
