.item {
  &-page {
    margin: 40px;
  }
}
.item-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 300px);
  grid-auto-rows: auto;
  grid-gap: 10px;
}
.current-news-btn-container,
.header-container {
  align-items: center;
  justify-content: center;
  display: flex;
}
